<div class="main-header">
  <div class="left-header">
    <div class="header-title">
      池袋２号店
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        池袋２号店
      </div>
      <div class="message-date">
        2022/06/29 12:15:30
      </div>
    </div>
    <div class="middle-message">
      <div class="message-comment">
        明日午前着で、受け入れ可能でしょうか？
      </div>
    </div>
    <div class="lower-message">
      <div class="message-ingredients">
        ブロッコリー500g
      </div>
      <div class="message-quantity">
        1PC
      </div>
      <div class="message-preservation">
        冷凍
      </div>
      <div class="message-expiry">
        2023/10/31
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        池袋
      </div>
      <div class="message-date">
        2022/06/29 12:30:45
      </div>
    </div>
    <div class="middle-message">
      <div class="message-comment">
        大丈夫です、お願い致します！！
      </div>
    </div>
    <div class="lower-message">
      <div class="message-ingredients">
      </div>
      <div class="message-preservation">
      </div>
      <div class="message-expiry">
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        池袋２号店
      </div>
      <div class="message-date">
        2022/06/29 12:46:00
      </div>
    </div>
    <div class="middle-message">
      <div class="message-comment">
        ありがとうございます！！
      </div>
    </div>
    <div class="lower-message">
      <div class="message-ingredients">
      </div>
      <div class="message-preservation">
      </div>
      <div class="message-expiry">
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="left-form">
    <div class="upper-form">
      <input class="form-comment" placeholder="コメント">
    </div>
    <div class="lower-form">
      <input class="form-ingredients" placeholder="食材名">
      <input class="form-quantity" placeholder="数量(PC単位)">
      <form class="form-preservation">
        <label class="form-radio"><input type="radio" name="保存状態" value="常温">常温</label>
        <label class="form-radio"><input type="radio" name="保存状態" value="冷蔵">冷蔵</label>
        <label class="form-radio"><input type="radio" name="保存状態" value="冷凍">冷凍</label>
      </form>
      <input class="form-expiry" placeholder="YYYY/MM/DD">
    </div>
  </div>
  <div class="right-form">
    <input class="form-submit" type="submit" value="送信">
  </div>
</div>