<div class="side-header">
  <div class="header-name">
    <a href="#">池袋</a>
  </div>
  <div class="create-room">
    <a href="#">チャットの作成</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">池袋２号店</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">池袋３号店</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">池袋４号店</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">Hareza池袋</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">DECOTTO</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">名古屋</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">名古屋２号店</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">天王寺</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">大阪日本橋</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">キッチンカー</a>
    </div>
  </div>
</div>