<div class="side-header">
  <div class="header-name">
    <%= link_to current_store.name, edit_store_path(current_store) %>
  </div>
  <div class="create-room">
    <%= link_to "チャットの作成", new_room_path %>
  </div>
</div>

<div class="rooms">
  <% current_store.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <a href="#"><%= room.name %></a>
      </div>
    </div>
  <% end %>
</div>